/* responsive */

@media (max-width: 992px) { /* For tablets */
  label {
    text-align: left !important;
   }
}

@media (max-width: 768px) { /* For mobile devices */
  label {
    text-align: left !important;
    display: block; /* Makes labels stack properly */
  }
}


